logo-variations
.neon
.env.local

# app
node_modules
.DS_Store
dist
dist-ssr
*.local
.env
.nitro
.tanstack
.wrangler
.output
# Workflow SDK local runs
.workflow-data
.vinxi
.vercel
__unconfig*

# prisma
src/generated
/.swc
